<section>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
            <p>
                name
            </p>
        </th>
        <td mat-cell *matCellDef="let user">
                {{user.name}}
        </td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
            <p>
                email
            </p>
        </th>
        <td mat-cell *matCellDef="let user">
            <p>
                {{user.email}}
            </p>
        </td>
    </ng-container> 
    <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>
            <p class="text-center">
                age
            </p>
        </th>
        <td mat-cell *matCellDef="let user">
            <p>
                {{user.age}}
            </p>
        </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
            <p class="text-center">
                action
            </p>
        </th>
        <td mat-cell *matCellDef="let user">
            <button [matMenuTriggerFor]="menu" class="flex text-center text-sm font-semibold text-white shadow-sm bg-indigo-600 px-6 py-1.5 leading-6">
                Action
                <mat-icon iconPositionEnd aria-hidden="false" fontIcon="keyboard_arrow_down">
                </mat-icon>
                <!-- <span class="material-symbols-outlined">
                    arrow_drop_down
                </span> -->
            </button>
            <mat-menu #menu="matMenu">
                <a class="button" mat-menu-item routerLink="/user-list/details/{{user.id}}">
                    Edit
                </a>
                <button mat-menu-item>
                    Delete
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns">
    </tr>
    <tr mat-row *matRowDef="let row; columns:columns;">
    </tr>
</table>
</section>`